{% extends "jbase.html" %}
{% block body %}
    <form action = "/supload" method = "POST"> 
        <p>pincode <input type = "text" name = "pincode" /></p>
        <p>state <input type = "text" name = "state" /></p>
        <p>city <input type = "text" name = "city" /></p>
        <p>shop_address <input type = "text" name = "shop_address" /></p>
        <p>owned_by <input type = "text" name = "owned_by" /></p>
        <p>making_charges <input type = "text" name = "making_charges" /></p>  
        <p><input type = "submit" value = "Submit" /></p> 
    </form>
{% endblock %}