{% extends "base.html" %}
{% block content %}
    {% with messages = get_flashed_messages() %}  
        {% if messages %}  
            {% for message in messages %}  
                <p>{{ message }}</p>  
            {% endfor %}  
        {% endif %}  
    {% endwith %} 
    <form action = "/upload" method = "POST" enctype=multipart/form-data> 
        <p>upload_image <input type = "file" name = "file" /></p> 
        <p>description <input type = "text" name = "description" /></p>  
        <p>required_grams <input type = "text" name = "required_grams" /></p>
        <p><input type = "submit" value = "Submit" /></p> 
    </form>
{% endblock %}